.signin {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}
.signinForm {
  display: grid;
  width: 44%;
  align-items: center;
  justify-content: center;
}
.authBtn {
  background-color: #6c63ff !important;
  color: #fff !important;
}
.authImg {
  width: 279px;
}
