.leftSideMAr {
  display: flex;
  background-color: #f3f3f3;
  width: 100%;
  height: 100vh;
  padding-left: 269px;
  flex-direction: column;
}
.taskGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.taskCard {
  display: grid;
  grid-template-columns: 3fr 1fr;
  align-items: center;
  justify-content: center;
  flex: 1 1;
  border-radius: 6px;
  background-color: #fff;
  margin: 15px;
  padding-left: 20px;
  padding-right: 20px;
  box-shadow: 10px 2px 10px 1px rgb(221 221 221);
  padding: 10px;
  height: 100px;
}
.mar10 {
  margin: 4px;
}
.taskTitle {
  font-size: 18px;
  font-weight: 600;
  color: #585858;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  overflow: hidden;
  width: 10em;
  margin-right: 5px;
  margin: 10px;
}
.taskDate {
  font-size: 13px;
  font-weight: 700;
  color: #a4b0be;

  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  overflow: hidden;
  width: 8em;
  margin-right: 5px;
  margin: 10px;
}
.taskNotDone {
  background-color: #ffe2e6;
  width: 30px;
  padding: 3px;
  font-size: 11px;
  text-align: center;
  color: #ff4757;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.taskDone {
  background-color: #ecfff2;
  width: 30px;
  padding: 3px;
  font-size: 11px;
  text-align: center;
  color: #2ed573;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tup {
  font-size: 18px;
}
.taskStatus {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.tasktitleContainer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  flex-direction: column;
}
